<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Challenge_3</title>
	<link rel="stylesheet" href="{% static "challenge_3/css/style.css" %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<h2 class="text-center">Users Database</h2>
	<div class="chall_3">
		{% if user_access %}
			<table class="table table-striped">
				<thead>
					<th>First name</th>
					<th>Last name</th>
					<th>Email address</th>
				</thead>
				{% for data in user_access %}
				<tr>
					<td>{{ data.first_name }}</td>
					<td>{{ data.last_name }}</td>
					<td>{{ data.email }}</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No data to display!</p>
		{% endif %}
	</div>
	{{form}}
</body>
</html>